# Configuration file

auto-assembly {
    I:itemMeta=0
    S:itemName=minecraft:stick
    B:needAllBlocks=true
    B:skipBlockContainNBT=false
    I:tickBlock=5
}


client {
    B:async-controller-model-render=false
}


display {

    energy {
        # Available options: 'FE', 'IC2_EU', 'GT_EU' - Default: FE - Set this to one of those 3 types to have GUI, recipe preview and energy be displayed in that type of energy in ALL ModularMachinery things. [default: FE]
        S:Display_Energy_Type=FE

        # Set to true, if the standard 'energy' FE (or RF) should be displayed in the tooltip of the energy hatch along with its transmission rates. [default: true]
        B:FE_RF_Tooltip=true

        # Set to true, if GT's energy EU should be displayed in the tooltip of the energy hatch. Will only have effect if GregTech (community edition) is installed. [default: true]
        B:GT_EU_Tooltip=true

        # Set to true, if IC2's energy EU should be displayed in the tooltip of the energy hatch. Will only have effect if IC2 is installed. [default: true]
        B:IC2_EU_Tooltip=true
    }

}


energyhatch {
    B:delayed-energy-core-search=true
    B:enable-GT-Explodes=true
    B:enable-de-integration=true
    I:energy-core-search-delay=100
    I:energy-core-search-range=16
    I:max-energy-core-search-delay=300

    size {
        # Energy storage size of the energy hatch. [range: 0 ~ 9223372036854775807, default: 32768]
        S:BIG=32768

        # Energy storage size of the energy hatch. [range: 0 ~ 9223372036854775807, default: 131072]
        S:HUGE=131072

        # Energy storage size of the energy hatch. [range: 0 ~ 9223372036854775807, default: 524288]
        S:LUDICROUS=524288

        # Energy storage size of the energy hatch. [range: 0 ~ 9223372036854775807, default: 8192]
        S:NORMAL=8192

        # Energy storage size of the energy hatch. [range: 0 ~ 9223372036854775807, default: 16384]
        S:REINFORCED=16384

        # Energy storage size of the energy hatch. [range: 0 ~ 9223372036854775807, default: 4096]
        S:SMALL=4096

        # Energy storage size of the energy hatch. [range: 0 ~ 9223372036854775807, default: 2048]
        S:TINY=2048

        # Energy storage size of the energy hatch. [range: 0 ~ 9223372036854775807, default: 2097152]
        S:ULTIMATE=2097152
    }

    limit {
        # Defines the transfer limit for RF/FE things. IC2's transfer limit is defined by the voltage tier. [range: 1 ~ 9223372036854775806, default: 32768]
        S:BIG=8192

        # Defines the transfer limit for RF/FE things. IC2's transfer limit is defined by the voltage tier. [range: 1 ~ 9223372036854775806, default: 131072]
        S:HUGE=32768

        # Defines the transfer limit for RF/FE things. IC2's transfer limit is defined by the voltage tier. [range: 1 ~ 9223372036854775806, default: 524288]
        S:LUDICROUS=131072

        # Defines the transfer limit for RF/FE things. IC2's transfer limit is defined by the voltage tier. [range: 1 ~ 9223372036854775806, default: 8192]
        S:NORMAL=512

        # Defines the transfer limit for RF/FE things. IC2's transfer limit is defined by the voltage tier. [range: 1 ~ 9223372036854775806, default: 16384]
        S:REINFORCED=2048

        # Defines the transfer limit for RF/FE things. IC2's transfer limit is defined by the voltage tier. [range: 1 ~ 9223372036854775806, default: 4096]
        S:SMALL=512

        # Defines the transfer limit for RF/FE things. IC2's transfer limit is defined by the voltage tier. [range: 1 ~ 9223372036854775806, default: 2048]
        S:TINY=128

        # Defines the transfer limit for RF/FE things. IC2's transfer limit is defined by the voltage tier. [range: 1 ~ 9223372036854775806, default: 2097152]
        S:ULTIMATE=131072
    }

    tier {
        # Defines the IC2 output-voltage tier. Only affects the power the output hatches will output power as. 0 = 'ULV' = 8 EU/t, 1 = 'LV' = 32 EU/t, 2 = 'MV' = 128 EU/t, ... [range: 0 ~ 12, default: 4]
        I:BIG=4

        # Defines the IC2 output-voltage tier. Only affects the power the output hatches will output power as. 0 = 'ULV' = 8 EU/t, 1 = 'LV' = 32 EU/t, 2 = 'MV' = 128 EU/t, ... [range: 0 ~ 12, default: 5]
        I:HUGE=5

        # Defines the IC2 output-voltage tier. Only affects the power the output hatches will output power as. 0 = 'ULV' = 8 EU/t, 1 = 'LV' = 32 EU/t, 2 = 'MV' = 128 EU/t, ... [range: 0 ~ 12, default: 6]
        I:LUDICROUS=6

        # Defines the IC2 output-voltage tier. Only affects the power the output hatches will output power as. 0 = 'ULV' = 8 EU/t, 1 = 'LV' = 32 EU/t, 2 = 'MV' = 128 EU/t, ... [range: 0 ~ 12, default: 2]
        I:NORMAL=2

        # Defines the IC2 output-voltage tier. Only affects the power the output hatches will output power as. 0 = 'ULV' = 8 EU/t, 1 = 'LV' = 32 EU/t, 2 = 'MV' = 128 EU/t, ... [range: 0 ~ 12, default: 3]
        I:REINFORCED=3

        # Defines the IC2 output-voltage tier. Only affects the power the output hatches will output power as. 0 = 'ULV' = 8 EU/t, 1 = 'LV' = 32 EU/t, 2 = 'MV' = 128 EU/t, ... [range: 0 ~ 12, default: 2]
        I:SMALL=2

        # Defines the IC2 output-voltage tier. Only affects the power the output hatches will output power as. 0 = 'ULV' = 8 EU/t, 1 = 'LV' = 32 EU/t, 2 = 'MV' = 128 EU/t, ... [range: 0 ~ 12, default: 1]
        I:TINY=1

        # Defines the IC2 output-voltage tier. Only affects the power the output hatches will output power as. 0 = 'ULV' = 8 EU/t, 1 = 'LV' = 32 EU/t, 2 = 'MV' = 128 EU/t, ... [range: 0 ~ 12, default: 6]
        I:ULTIMATE=6
    }

    gtvoltage {
        # Defines the GT voltage tier. Affects both input and output hatches of this tier. [range: 0 ~ 8, default: 4]
        I:BIG=4

        # Defines the GT voltage tier. Affects both input and output hatches of this tier. [range: 0 ~ 8, default: 5]
        I:HUGE=5

        # Defines the GT voltage tier. Affects both input and output hatches of this tier. [range: 0 ~ 8, default: 6]
        I:LUDICROUS=6

        # Defines the GT voltage tier. Affects both input and output hatches of this tier. [range: 0 ~ 8, default: 2]
        I:NORMAL=2

        # Defines the GT voltage tier. Affects both input and output hatches of this tier. [range: 0 ~ 8, default: 3]
        I:REINFORCED=3

        # Defines the GT voltage tier. Affects both input and output hatches of this tier. [range: 0 ~ 8, default: 2]
        I:SMALL=2

        # Defines the GT voltage tier. Affects both input and output hatches of this tier. [range: 0 ~ 8, default: 1]
        I:TINY=1

        # Defines the GT voltage tier. Affects both input and output hatches of this tier. [range: 0 ~ 8, default: 6]
        I:ULTIMATE=6
    }

    gtamperage {
        # Defines the GT amperage. Affects both output amperage as well as maximum input amperage. [range: 1 ~ 16, default: 2]
        I:BIG=2

        # Defines the GT amperage. Affects both output amperage as well as maximum input amperage. [range: 1 ~ 16, default: 2]
        I:HUGE=2

        # Defines the GT amperage. Affects both output amperage as well as maximum input amperage. [range: 1 ~ 16, default: 2]
        I:LUDICROUS=2

        # Defines the GT amperage. Affects both output amperage as well as maximum input amperage. [range: 1 ~ 16, default: 2]
        I:NORMAL=2

        # Defines the GT amperage. Affects both output amperage as well as maximum input amperage. [range: 1 ~ 16, default: 2]
        I:REINFORCED=2

        # Defines the GT amperage. Affects both output amperage as well as maximum input amperage. [range: 1 ~ 16, default: 2]
        I:SMALL=2

        # Defines the GT amperage. Affects both output amperage as well as maximum input amperage. [range: 1 ~ 16, default: 2]
        I:TINY=2

        # Defines the GT amperage. Affects both output amperage as well as maximum input amperage. [range: 1 ~ 16, default: 2]
        I:ULTIMATE=2
    }

}


factory-system {
    I:default-factory-max-thread=10
    B:enable-factory-controller-bydefault=false
}


fluidhatch {

    tiny {
        # Defines the tank size for the size-type of fluid hatch. [range: 1 ~ 2147483647, default: 100]
        I:size=100
    }

    small {
        # Defines the tank size for the size-type of fluid hatch. [range: 1 ~ 2147483647, default: 400]
        I:size=400
    }

    normal {
        # Defines the tank size for the size-type of fluid hatch. [range: 1 ~ 2147483647, default: 1000]
        I:size=1000
    }

    reinforced {
        # Defines the tank size for the size-type of fluid hatch. [range: 1 ~ 2147483647, default: 2000]
        I:size=2000
    }

    big {
        # Defines the tank size for the size-type of fluid hatch. [range: 1 ~ 2147483647, default: 4500]
        I:size=4500
    }

    huge {
        # Defines the tank size for the size-type of fluid hatch. [range: 1 ~ 2147483647, default: 8000]
        I:size=8000
    }

    ludicrous {
        # Defines the tank size for the size-type of fluid hatch. [range: 1 ~ 2147483647, default: 16000]
        I:size=16000
    }

    vacuum {
        # Defines the tank size for the size-type of fluid hatch. [range: 1 ~ 2147483647, default: 32000]
        I:size=32000
    }

}


general {
    B:clean-custom-data-on-structure-check-failed=false
    S:default-failure-actions=still
    B:delayed-structure-check=true
    B:disable-moc-deprecated-tip=false
    B:enable-duration-multiplier=false
    B:enable-fluxnetworks-integration=true
    B:enable-full-data-sync=false
    B:enable-security-system=false

    # Defines the _default_ color for machine casings as items or blocks. (Hex color without alpha) Has to be defined both server and clientside! [default: FF4900]
    S:general-casing-color=FFFFFF
    I:max-structure-check-delay=100
    B:modular-controller-compatible-mode=false
    B:only-one-machine-controller=false
    I:structure-check-delay=30
}


parallel-controller {
    B:machine-parallelize-enabled-bydefault=true
    I:max-machine-parallelism=2048
    B:recipe-parallelize-enabled-bydefault=true

    normal {
        I:max-parallelism=4
    }

    reinforced {
        I:max-parallelism=16
    }

    elite {
        I:max-parallelism=64
    }

    super {
        I:max-parallelism=256
    }

    ultimate {
        I:max-parallelism=512
    }

}


upgrade-bus {

    normal {
        I:max-upgrade_slot=3
    }

    reinforced {
        I:max-upgrade_slot=6
    }

    elite {
        I:max-upgrade_slot=9
    }

    super {
        I:max-upgrade_slot=12
    }

    ultimate {
        I:max-upgrade_slot=18
    }

}


